html,body {
   margin: 0;
   padding: 0;
}

/* xxxxxxxxxxxxxxxxxxxxx CABEÇALHO xxxxxxxxxxxxxxxxxxxxxxxx */

#header {
   padding: 29px;
   background: #024073;
}


#body {
   padding: 10px;
   padding-bottom: 60px;
}

#header .bloco1{
	background: white;
    height: 100px;
    width: 20%;
}

.bloco1{	
    float: left;	
}

#header .bloco2{
    background: red;
    padding: 0 0 0 44px;
    height: 100px;
    width: 700px;
}


/* xxxxxxxxxxxxxxxxxxxxx CONTEÚDO xxxxxxxxxxxxxxxxxxxxxxxx */

#container {
   min-height: 100%;
   position: relative;
}

#wrapper{
   width: 960px;
   margin: 0 auto;
}

/* xxxxxxxxxxxxxxxxxxxxx RODAPÉ xxxxxxxxxxxxxxxxxxxxxxxx */

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height:60px;
   background: #6CF;
}